.containerInput {
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #9c83be;
  width: 500px;
}

.containerSelect {
  display: flex;
  flex-direction: row;
  border: none;
  background: none;
  border-bottom: 2px solid #9c83be;
  width: 500px;
}

.select {
  width: 500px;
}

.containerInput input {
  border: none;
  background: none;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: #6b6a6b;
}

.error {
  color: #f31;
  font-size: 0.875rem;
}

.success {
  color: #4bb543;
  font-size: 0.875rem;
}
