.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.evaluation {
  margin-bottom: 5px;
}

.button {
  background: #9c83be;
  color: #fff;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background: #7159c1;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 18px;
  }
}
